p {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  padding: 1em;
}

#slider-container {
  display: flex;
  flex-wrap: wrap;
}

#testimonials {
  position: relative;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  width: 1000px;
  height: 450px;
}

figure {
  position: absolute;
  width: 400%;
  left: 0;
  animation: 20s slider infinite;
  -webkit-animation: 20s slider infinite;
  border-top: 1px solid #c2c1c2;
  border-bottom: 1px solid #c2c1c2;
  margin: 0;
}

blockquote {
  width: 25%;
  margin: 0;
  float: left;
  padding-bottom: 1em;
}

@-webkit-keyframes slider {
    0%  { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    33% { transform: translateX(-25%); }
    58% { transform: translateX(-25%); }
    66% { transform: translateX(-50%); }
    91% { transform: translateX(-50%); }
    100%{ transform: translateX(-75%); }
}

@keyframes slider {
     0%  { transform: translateX(0%); }
    25% { transform: translateX(0%); }
    33% { transform: translateX(-25%); }    
    58% { transform: translateX(-25%); }
    66% { transform: translateX(-50%); }
    91% { transform: translateX(-50%); }
    100%{ transform: translateX(-75%); }
}

footer {
  padding: 1em;
  float: right;
  margin-right: 2em;
}

@media(min-width:750px) {
  #testimonials: height: 150px;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}